django~=3.1.4
psycopg2-binary~=2.8.6
pillow~=8.0.1
social-auth-app-django~=4.0.0
django-mapbox-location-field~=1.6.4
django-crispy-forms~=1.10.0
django-sslserver~=0.22
factory_boy~=3.1.0
dj-database-url~=0.5.0
gunicorn~=20.0.4