{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Sign in {% endblock %}
{% block content %}
    {% load mapbox_location_field_tags %}
    {% location_field_includes %}

    {% for ass in backends.associated %}
      {% if ass.provider == 'facebook' %}
      <div class="row justify-content-md-center">
            <div class="col-md-6 text-center">
                <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
                <p> Name:  {{ ass.extra_data.name }} </p>
            </div>
      </div>
      {% endif %}
    {% endfor %}
    <div id="events" class="row text-center">
    {% if events %}
        {% for event in events %}
            <div id="{{ event.id }}" class="col-md-4 event text-center">
                <div class="col-12 title"><p> {{ event.title }} </p></div>
                <div class="col-12 place"><p> {{ event.place }} </p></div>
                <div class="col-12 description"><p> {{ event.description }} </p></div>
            </div>
        {% endfor %}
        <div class="row-md-4 event col-md-4 justify-content-center">
            <button id="add_new_event" type="submit" class="btn btn-primary col-3  d-block">+</button>
        </div>
    {% else %}
        <div class="col-md-12"><h2>У вас нет ни одного воспоминания</h2></div>
        <div class="col-md-12 justify-content-md-center">
            <button id="add_new_event" type="submit" class="btn btn-primary">Добавить воспоминание</button>
        </div>
    {% endif %}
    </div>
    <div id="form_div">
        <form enctype="multipart/form-data" method="post">
                {{ form.title|as_crispy_field }}
                {{ form.place.label }}
                <p id="place_error_p" class="text-primary">
                    We cannot get geolocation using a map, sorry. You can simply enter the place yourself.
                    Or try place mark again.
                </p>
                {{ form.place }}
                {{ form.description|as_crispy_field }}
                {{ form.media }}
                {% csrf_token %}
                <p id="button_inf_p" class="text-primary">Wait please, we are waiting for your event place</p>
                <button id="submit_add_event" type="submit" name="add_event" class="btn btn-primary">Add event</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}